/* Mobile styles */
@media (max-width: 768px) {
    /******* GENERAL STYLING ********/
    body {
        margin: 0px;
        padding: 0px;
        background-color: #E8EFF4;
    }

    h1, h2 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 100;
        margin: 0px;
        font-size: 62px;
        color: #021526;
    }

    section article.projectBox a:visited, section article.projectBox a, h3 {
        font-family: "Outfit", sans-serif;
        color: #021526;
        text-decoration: none;
        font-size: 40px;
        font-weight: 400;
        margin: 0px;
    }

    p {
        font-family: "Outfit", sans-serif;
        color: #03346E;
        margin: 0px;
    }

    p.desktopStyling{
        display: none;
        color: #03346E;
    }

    p.textDecor {
        font-family: "Licorice", cursive;
        color: #6EACDA;
        font-size: 53px;
    }

    /******* HEADER ********/
    header {
        background-image: url("images/headerBackground.png");
    }
    
    header img {
        display: block;
        position: relative;
        /* z-index: 0; */
        width: 57%;
        opacity: 0.5;
        transform: translateX(190px) translateY(-90px);
    }
    header h1 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 100;
        font-size: 55px;
        margin: 0%;
        padding: 17% 19% 0% 6%;
        color: #021526;
        position: absolute;
        transform: translate(0%, -100%);
    }

    header p {
        font-family: "Outfit", sans-serif;
        color: #11588C;
        font-size: 26px;
        padding-left: 40%;
        padding-bottom: 10px;
        margin: 0px;
    }

    header p::before {
        content: "";
        display: block;
        width: 86%;
        background: #11588C;
        left: -88%;
        top: 35%;
        position: relative;
        padding-top: 4px;
    }

    /******* NAVIGATION ********/
    nav ul {
        display: flex;
        background-color: #03346E;
        justify-content: space-between;
        list-style-type: none;
        align-items: center;
        border-radius: 7%;
        padding-left: 10px;
        padding-right: 10px;
        position: fixed;
        top: 89%;
        width: 97%;
    }
    
    nav ul a:visited, nav ul a {
        color: #E2E2B6;
    }

    nav ul li {
        padding: 11px 15px 5px 15px;
    }

    nav ul li a img {
        height: 50%;
    }

    /******* ABOUT ME ********/
    aside img {
        width: 200px;
        height: 200px;
        padding: 25px 15px 79px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
        background: whitesmoke;
        display: block;
        margin-left: auto;
        border-radius: 14px;
        margin-right: auto;
    }
}