/******* GENERAL STYLING ********/
body {
    margin: 0px;
    padding: 0px;
    background-color: #E8EFF4;
    overflow-x: hidden;
}

h1, h2 {
    font-family: "Libre Caslon Display", serif;
    font-weight: 100;
    margin: 0px;
    font-size: 62px;
    color: #021526;
}

section article.projectBox a:visited, section article.projectBox a, h3 {
    font-family: "Outfit", sans-serif;
    color: #021526;
    text-decoration: none;
    font-size: 40px;
    font-weight: 400;
    margin: 0px;
    height: 57px;
    padding: 0px 5px;
}

p.mobileStyling {
    display: none;
}

p {
    font-family: "Outfit", sans-serif;
    color: #03346E;
    margin: 0px;
    font-size: 16px;
}

p.textDecor {
    font-family: "Licorice", cursive;
    color: #6EACDA;
    font-size: 53px;
}

div.headerDesign {
    height: 100px;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}

div.headerDesign h2 {
    border-style: solid;
    border-color: #6EACDA;
    padding: 1% 5%;
}

div.headerDesign p.textDecor{
    padding-top: 1.5%;
    position: absolute;
    z-index: -1;
    color: transparent;
    text-shadow: 0 0 3px #6eacdaa1;
    letter-spacing: 25px;
}

/******* BACKGROUND ELEMENTS ********/
#backgroundRects {
    position: fixed;
    z-index: -2;
    overflow: hidden;
    transform: translate(-200px, -550px);
}

/******* NAVIGATION ********/
nav ul {
    display: flex;
    background-color: #03346E;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    border-radius: 26px;
    padding-left: 0px;
    padding-right: 0px;
    position: fixed;
    top: 26%;
    height: auto;
    flex-direction: column;
    right: 0%;
    z-index: 10;
}

nav ul li {
    padding: 25px 5px 25px 5px;
}

nav ul li a {
    height: 54px;
    display: block;
}

/******* HEADER ********/
div#homeContent header {
    background-image: url("images/headerBackground.png");
    height: 425px;
    margin-top: 3%;
}

div#homeContent header h1 {
    padding-top: 295px;
    padding-left: 7%;
}

div#homeContent  header p {
    font-size: 28px;
    padding-left: 46%;
}

div#homeContent  header h1, header p {
    position: relative;
    z-index: 1;
}

div#homeContent header p::before {
    content: "";
    display: block;
    width: 44%;
    background: #11588C;
    left: 0%;
    top: 46%;
    position: absolute;
    padding-top: 4px;
}

header img {
    display: block;
    position: absolute;
    width: 32%;
    opacity: 0.5;
    transform: translate(510px, 10px);
    max-width: 430px;
}

/******* PROJECT SHOWCASE ********/
#projectShowcase {
    overflow-x: hidden;
    position: relative;
}

#projectShowcase p {
    text-align: right;
}

#projectShowcase section article.projectBox {
    display: grid;
    grid-template-areas:
        "projectGrid1 projectGrid2"
        "projectGrid3 projectGrid3";
    grid-gap: 10px;
    padding: 26px 25px;
    margin-left: 21%;
    height: 193px;
    width: 100%;
    overflow: hidden;
    background:#e8eff47d;
    margin-bottom: 3%;
    border-radius: 50px;
    border-top: 3px solid #021526;
    border-left: 4px solid #021526;
    border-bottom: none;
    border-right: none;
}

#projectShowcase section article.projectBox div {
    padding-right: 10%;
}

#projectShowcase p.desktopStyling {
    width: 71%;
    line-height: 40px;
}

#projectShowcase article.projectBox div img.projectGrid3 {
    opacity: 78%;
    border-radius: 10px;
}

.projectHoverLink {
    position: relative; 
    display: inline-block;
    text-decoration: none;
    color: #333;
    padding: 10px;
    overflow: hidden;
  }

#projectShowcase .projectHoverLink::before {
    content: "";
    position: absolute;
    top: -15%;
    left: -11%;
    width: 224px;
    height: 70px;
    background-color: #6eacda;
    transform: translate(-30%, -30%) scale(0); 
    transition: transform 0.3s ease; 
    z-index: -1;
  }

#projectShowcase .projectHoverLink:hover::before {
    transform: translate(0%, 0%) scale(1); 
}

#projectShowcase .project1::before {
    clip-path: polygon(12% 21%, 92% 14%, 86% 86%, 10% 90%);
}

#projectShowcase .project2::before {
    clip-path: polygon(7% 0%, 80% 10%, 78% 81%, 17% 93%);
}

#projectShowcase .project3::before {
    clip-path: polygon(3% 14%, 94% 20%, 103% 94%, 17% 93%);
}

/******* ABOUT ME ********/
aside p.aboutText {
    padding: 4%;
    font-size: 18px;
    line-height: 38px;
}

aside img {
    width: 200px;
    height: 200px;
    padding: 25px 15px 79px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .3);
    background: whitesmoke;
    display: block;
    margin-left: auto;
    border-radius: 14px;
    margin-right: auto;
}

aside div.aboutBody{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px 11% 3%;
}

/******* FOOTER ********/
footer {
    background-color: #021526;
    padding: 16px;
}

footer h3 {
    color: #E8EFF4;
}

footer p {
    color: #458bdd;
}

div.contactFormContainer {
    padding-left: 28px;
}

label {
    display: block;
    margin: 7px 0 5px;
    font-family: 'Outfit';
    color: antiquewhite;
}

input, textarea {
    width: 22%;
    padding: 6px;
    margin-bottom: -1px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 2px 4px 7px rgb(15 17 35 / 61%);
}

#email {
    margin-bottom: 17px;
}

button {
    width: 15%;
    margin-left: 3%;
    padding: 10px;
    background-color: #4083d1;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index:10;
}

button:hover {
    background-color: #0056b3;
}

/********* SUBPAGES: portfolio **********/
div#projectNavigation header, div.projectBreakdown header {
    background-image: url("images/headerBackground.png");
    height: 100px;
    display: flex;
    margin-top: 15px;
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
    overflow-x: hidden;
}

div#projectNavigation header h1, div.projectBreakdown header h1 {
    border-style: solid;
    border-color: #6EACDA;
    padding: 1% 5%;
    margin-left: 6%;
    z-index: 1;
}

div#projectNavigation header p, div.projectBreakdown header p {
    padding-top: 1.5%;
    position: absolute;
    z-index: 0;
    color: transparent;
    text-shadow: 0 0 3.5px #6eacdaa1;
    letter-spacing: 38px;
    font-size: 63px;
    font-family: "Licorice", cursive;
    margin-left: 3%;
}

div.projectBreakdown header div {
    z-index: 10;
}

/* Mobile styles */
@media (max-width: 1000px){
    #projectShowcase section article.projectBox {
        width: 80%;
    }

    #projectShowcase p.desktopStyling {
        width: 47%;
        line-height: 28px;
    }
    section article.projectBox a {
        width: 192px;
    }
}

@media screen and (max-width: 768px) {
    /******* GENERAL STYLING ********/
    body {
        overflow-x: hidden;
    }
    p.desktopStyling{
        display: none;
    }

    /******* BACKGROUND ELEMENTS ********/
    #backgroundRects {
        width: 990px;
    }

    /******* HEADER ********/
    div#homeContent header {
        height: auto;
        overflow-x: hidden;
    }

    div#homeContent header img {
        display: block;
        position: relative;
        width: 60%;
        opacity: 0.5;
        transform: translateX(190px);
    }

    div#homeContent header h1 {
        font-family: "Libre Caslon Display", serif;
        font-weight: 100;
        font-size: 55px;
        margin: 0%;
        padding: 17% 19% 0% 6%;
        color: #021526;
        position: absolute;
        transform: translate(0%, -100%);
    }

    div#homeContent header p {
        font-family: "Outfit", sans-serif;
        color: #11588C;
        font-size: 25px;
        padding-left: 40%;
        padding-bottom: 10px;
        margin: 0px;
        margin-left: -15%;
    }

    div#homeContent header p::before {
        content: "";
        display: block;
        width: 33%;
        background: #11588C;
        left: 0;
        top: 35%;
        position: absolute;
        padding-top: 4px;
    }

    /******* NAVIGATION ********/
    nav ul {
        display: flex;
        background-color: #03346E;
        list-style-type: none;
        align-items: baseline;
        border-radius: 7%;
        padding-left: 10px;
        padding-right: 10px;
        position: fixed;
        top: 89%;
        width: 97%;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    nav ul a:visited, nav ul a {
        color: #E2E2B6;
    }

    nav ul li {
        padding: 11px 15px 5px 15px;
    }

    nav ul li a {
        height: 95px;
    }

    /******* PROJECT SHOWCASE ********/
    #projectShowcase article.projectBox img {
        overflow: hidden;
    }

    #projectShowcase p.mobileStyling {
        display: block;
        text-align: left;
        padding-bottom: 13px;
    }

    #projectShowcase section article.projectBox {
        display: grid;
        grid-template-areas: 
            "projectGrid1"
            "projectGrid2"
            "projectGrid3";
        grid-gap: 0px;
        padding: 3px 25px;
        width: 70%;
        height: 102px;
    }

    #projectShowcase section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /******* ABOUT ME ********/
    aside p.aboutText {
        padding: 10%;
        line-height: 30px;
    }

    aside div.aboutBody {
        align-items: center;
        flex-direction: column;
    }

    /******* FOOTER ********/
    footer {
        padding-bottom: 100px;
    }


    /******* SUBPAGE: portfolio; Header ********/
    div#projectNavigation header h1, div.projectBreakdown header h1 {
        font-size: 55px;
        line-height: 146%;

    }

    div#projectNavigation header p, div.projectBreakdown header p {
        font-size: 41px;
        letter-spacing: 30px;
        padding-top: 4.5%;
    }

}